.row
  .col-xs-12#snippet-show
    %div
      Заголовок:
      %b
        = @snippet.title 
    - if @snippet.langs.present?
      %div
        Языки:
        %ul
        - @snippet.langs.each do |lang|
          %li
            %div
              = lang.title
            %div
              = image_tag "/images/langs/#{lang.image.upload_file_name}", size: '100x100'
    %div
      %code
        = @snippet.content.html_safe