.row
  .col-xs-12
    %h1.page-header
      = t('views.users.list')
- @users.each do |user|
  .row
    .col-xs-4
      = link_to user.email, user
    .col-xs-2
      = user.first_name
    .col-xs-2
      = user.last_name
.row
  .col-xs-12
    = will_paginate @users, renderer: BootstrapPagination::Rails