!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title Starter Template for Bootstrap
    = stylesheet_link_tag :application
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: root_path} Project name
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li{class: current_page?(root_path) ? :active : ''}
              = link_to 'Главная', root_path
            %li{class: current_page?(about_path) ? :active : ''}
              = link_to 'О проекте', about_path
          %ul.nav.navbar-nav.navbar-right
            %li
              = link_to 'Войти', '#'
    .container
      = yield
    = javascript_include_tag :application