!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title Snippets Control System
    = stylesheet_link_tag :application
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: root_path} Snippets Control System
        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            %li{class: current_page?(snippets_path) ? :active : ''}
              = link_to 'Сниппеты', snippets_path
            %li{class: current_page?(users_path) ? :active : ''}
              = link_to 'Пользователи', users_path
            %li
              = link_to 'Войти', '#'            
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          %ul.nav.nav-sidebar
            - Lang.all.each do |lang|
              %li= link_to lang.title, lang_path(lang)
          %ul.nav.nav-sidebar
            - Rubric.all.each do |rubric|
              %li= link_to rubric.title, rubric_path(rubric)
      .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
        = yield
    = javascript_include_tag :application